

html,body
{

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

    margin: 0;
    overflow: hidden;
    height: 100%;
    /* background-image: linear-gradient(to bottom, #fc9957 0%, #aa2f47 100%); */
    background-image: url("magicbg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-position: center;
    user-select: none;
}
.question
{
    position: absolute;
    height:15% ;
    top:0%;
    width:100%;
    transform: translate(-50%,-50%);
    background-color:#b8414a;
    border-radius: 15px;
    line-height: 15vh;
    vertical-align:middle;
    text-align: center;
    font-family:Helvetica;
}
/* .char{
    background-image: url("magicchar.svg");
    position:absolute;
    z-index: 0;
    height: 40%;
    width:40%;
    bottom:0%;
    left:50%;
    background-size: cover;
    align-content: center;
     opacity: 0.5; 
} */
.options
{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 30%;
    background-color:  #df9665;
    height: 10vh;
    width: 25%;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 10vh;
    text-align: center;
    margin-top: 4vh;
    vertical-align: middle;
}
#option1
{
    left:15% !important;
}
#option2
{
    left:60%;
}
#option3
{
    left:15%;
    top:60% !important;
}
#option4
{
    left:60%;
    top:60%;
}
.lowbtn
{
    width: 15%;
    height: 10vh;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    background-color: rgba(212, 161, 95, 0.404);
    border-radius: 15px;
    top: 80%;
    transform: translate(-50%,-50%);
}
.lowbtn p
{
    text-align: center;
    vertical-align: middle;
    margin-top: 4vh;
}
#prev
{ 
    top:85%;
    left: 2.5%;
}
#submit
{
    left:42.75%;
}
#next
{
    top: 85%;
    left: 80.5%;
}.options:hover{
    background: rgb(177, 155, 129);
    transition: inherit;
    transition-duration: 0.3s;

    
}
.lowbtn:hover
{
    background: rgba(181, 159, 134, 0.8);
    transition: inherit;
    transition-duration: 0.3s;

}
.selected { background:#ff9830ce; }
.selected:hover{
    background:#ff9830ce;
}