html,body
{

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

    margin: 0;
    overflow: hidden;
    height: 100%;
    /* background-image: linear-gradient(to top, #09203f 0%, #537895 100%); */
    background-image: url(Home\ Page\ –\ 4.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    user-select: none;
}
.question
{
    position: absolute;
    height:10% ;
    width:80%;
    top:15%;
    left:10%;
    transform: translate(-50%,-50%);
    background-color: rgba(137,134,181,0.4);
    /* padding: 10px; */
    border-radius: 15px;

    line-height: 10%;
}
.question p
{
    margin-top:5vh;
    vertical-align:middle;
    text-align: center;
    font-family:Helvetica;
}

.options
{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 40%;
    background-color:  rgba(137,134,181,0.4);
    height: 10vh;
    width: 25%;
    border-radius: 15px;
}
.options > p
{
    text-align: center;
    margin-top: 4vh;
    vertical-align: middle;
}
#option1
{
    left:15% !important;
}
#option2
{
    left:60%;
}
#option3
{
    left:15%;
    top:60% !important;
}
#option4
{
    left:60%;
    top:60%;
}
.lowbtn
{
    width: 15%;
    height: 10vh;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    background-color: rgba(137,134,181,0.4);
    border-radius: 15px;
    top: 80%;
    transform: translate(-50%,-50%);
}
.lowbtn p
{
    text-align: center;
    vertical-align: middle;
    margin-top: 4vh;
}
#prev
{
    left: 20%;
}
#submit
{
    left:42.75%;
}
#next
{
    left: 65.5%;
}
div:hover
{
    background: rgba(137,134,181,0.8);
}